# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [36]:
length = int(input("Put the length of your Rectangle: "))
breadth = int(input("Put the breadth of your rectangle: "))
if length == breadth:
    print("The Rectangle is a square")
else:
    print("The Rectangle is NOT a square")

Put the length of your Rectangle: 60
Put the breadth of your rectangle: 30
The Rectangle is NOT a square

# 2. Take three integer values from the user and print the greatest among them.

In [37]:
Integer1 = int(input("Give your 1st integer value: "))
Integer2 = int(input("Give your 2nd integer value: "))
Integer3 = int(input("Give your 3rd integer value: "))
if (Integer1>=Integer2) and (Integer1>=Integer3):
    print("The Greatest Integer is",Integer1)
elif (Integer2>=Integer1) and (Integer2>=Integer3):
    print("The Greatest Integer is",Integer2)
else:
    print("The Greatest Integer is",Integer3)

Give your 1st integer value: 20
Give your 2nd integer value: 50
Give your 3rd integer value: 10
The Greatest Integer is 50

# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%

In [43]:
Working_Day = int(input("Total Working day: "))
Attendence = int(input("Total attendance: "))
Percentage = int((Attendence*100)/Working_Day)
if (Percentage<75):
    print("Total % of Attendence is:",Percentage," Sorry...!!! He is not allowed to sit in an exam as his attendance is less than 75")
else:
    print("Total % of Attendence is:",Percentage," Yes..!! He is Allowed to sit in an exam as his attendance is more than 75")

Total Working day: 90
Total attendance: 80
Total % of Attendence is: 88  Yes..!! He is Allowed to sit in an exam as his attendance is more than 75

# 4. A school has the following rules for the grading system:
   Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
   Now, Ask the user to enter marks and print the corresponding grade.

In [44]:
marks = float(input("Enter your marks: "))
if marks<25:
    grade = "F"
elif marks>=25 and marks<=44:
    grade = "E"
elif marks>=45 and marks<=49:
    grade = "D"
elif marks>=50 and marks<=59:
    grade = "C"
elif marks>=60 and marks<=79:
    grade = "B"
elif marks>=80 and marks<=89:
    grade = "A"
else:
    grade = "A+"
print(f"Your marks is {marks} and grade is {grade}")

Enter your marks: 50
Your marks is 50.0 and grade is C

# 5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7

1 2 3 4 5 6

1 2 3 4 5

1 2 3 4

In [45]:
#Using For Loop
for i in range(7, 3, -1):
    for j in range(1, i + 1):
        print(j, end=' ') #end=' ' না দিলে নিচে নিচে আসে। এটার ফলে পাশাপাশি স্পেস দিয়ে প্রিন্ট হয়
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [46]:
#Using While loop
i = 7
while i >= 4:
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# 6. Display numbers from -100 to -10 using for loop.

In [47]:
for number in range(-100,-9,1):
    print(number)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [48]:
def is_prime(num):
    if num < 2:
        return False
    else:
        x = num // 2
        for i in range(2, x + 1):
            if num % i == 0:
                return False
    return True
def sum_range(start, end):
    sum = 0
    for num in range(start, end + 1):
        if is_prime(num):
            sum = sum + num
    return sum
result = sum_range(10, 1000)
print("Sum of prime numbers between 10 to 1000 is ", result)

Sum of prime numbers between 10 to 1000 is  76110

# যদি user কে input দিতে বলা হয়

In [49]:
def is_prime(num):
    if num < 2:
        return 0
    else:
        x = num // 2
        for i in range(2, x + 1):
            if num % i == 0:
                return 0
    return True
def sum_range(start, end):
    sum = 0
    for num in range(start, end + 1):
        if is_prime(num):
            sum = sum + num
    return sum
start = int(input("Start Number:" ))
end = int(input("End Number:" ))
result = sum_range(start, end)
print("Sum of prime numbers between", start, "and", end, "is:", result)

Start Number:১০
End Number:১০০
Sum of prime numbers between 10 and 100 is: 1043

# 8. Find the factorial of an n!

In [50]:
n = int(input("Number: " ))
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
print(f"The factorial of {n} i.e., {n}! is {factorial(n)}")

Number: 10
The factorial of 10 i.e., 10! is 3628800

# 9. Reverse a given integer number 27956240710

In [51]:
n = 27956240710
rev = 0
while(n > 0):
    a = n % 10
    rev = rev * 10 + a
    n = n // 10
 
print(rev)

#ব্যাখ্যা:
# ধরি, ২৩৫ কে Reverse করতে চাচ্ছি, তাহলে ১মে Reverse number 0 থাকবে
#এবার Reverse num = reverse num * ১০ + ২৩৫ % ১০ =০ + ৫= ৫
#এবার new Number = ২৩৫ // ১০ = ২৩
 #Reverse number = Reverse Num *১০ + ২৩ % ১০ = ৫*১০+৩ =৫০+৩ =৫৩
#একইভাবে new Number = ২৩ // ১০ = ২
#Reverse number = Reverse Num *১০ + ২ % ১০ = ৫৩*১০+২ =৫৩০+২ =৫৩২

1704265972

# 10. Print the following pattern using while loop.
               # # #
              # # # #
             # # #
             # #

In [52]:
i=1
while i<=4:
    if i % 2 !=0:
        num = int((3 * i) / i)
        print('# ' * num)
    else:
        num = int((i+2)/(i-1))
        print('# ' * num)
    i=i+1

# # #
# # # #
# # #
# #

using For loop.

In [53]:
for i in range(1,5):
    if i % 2 !=0:
        num = int((3 * i) / i)
        print('# ' * num)
    else:
        num = int((i+2)/(i-1))
        print('# ' * num)

# # #
# # # #
# # #
# #

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [54]:
#Using While loop
n1, n2 = 0, 1
i =0
while i<15:
    print(n1)
    sum = n1+n2
    n1 = n2
    n2 =sum
    i = i+1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [55]:
#Using For Loop
n1, n2 = 0, 1
for i in range(0,15):
    print(n1)
    sum = n1+n2
    n1 = n2
    n2 =sum

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

# 12. Remove 2 and add 3 to the list and replace True with False.
           Li = [1,3,5, [2,3], True]

In [56]:
Li = [1,3,5, [2,3], True]
Li[3][0]=3
Li[4]=False
print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8},   
S2 = {True, 1,2,10}

In [57]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
print(S2)
m = S1.intersection(S2)
print(m)

{True, 2, 10}
{True}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max number. 
User_input = [1,9,3,4,5,200,54]

In [58]:
User_input = [1,9,3,4,5,200,54]

#To Remove duplicates from a list
Li1 = list(set(User_input))
print(Li1)

#create a set
Set1 = set(Li1)
print(Set1)

#find the max number from set
#print(max(Set1))
max(Set1)

[1, 3, 4, 5, 200, 9, 54]
{1, 3, 4, 5, 200, 9, 54}

200

# 15. Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.
Dict = {"name": "Shakil", "age":27, "city": "Berlin", "country": "Germany"}

In [59]:
Dict = {"name": "Shakil", "age":27, "city": "Berlin", "country": "Germany"}
Dict["region"]=Dict.pop("country")
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [10]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [60]:
import pandas as pd

num = [10, 100, 300]
df = pd.DataFrame({'number': num})

df

   number
0      10
1     100
2     300

# 17. Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [61]:
Dict.update({"age":28})
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'region': 'Germany'}

Submited by Mohammad Sohel Hossain